<%= content_for(:title, "Agent Formula - Websites for Real Estate Agents & Brokers") %>

<!-- Slider -->
<div id='main-slider' class='tm-section-box'>
  <div class='uk-width-1-1'>
    <div class="uk-panel">
        
      <div class="akslider-module">
        <div class="uk-slidenav-position" data-uk-slideshow="{kenburns: true, height: 'auto', animation: 'scale', duration: '500', autoplay: true, autoplayInterval: '10000'}">
          <ul class="uk-slideshow uk-overlay-active" style="height: 600px;">
            <li class="uk-cover uk-height-viewport uk-active" aria-hidden="false" style="height: 600px;">
              <div class="uk-cover-background uk-position-cover" style="background-image: url(https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_01.jpg);">
                
              </div>
              <img src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_01.jpg" alt="Slide" width="1268" height="750" class="alignnone size-full" style="width: 100%; height: auto;">
              <div class="uk-overlay-panel uk-overlay-right uk-overlay-slide-right uk-flex uk-flex-center uk-flex-middle uk-width-1-1">
                <div class="uk-container uk-container-center tm-full-width ">
                  <div class="uk-position-relative">
                    <div class="uk-width-small-1-2 uk-width-medium-1-3 tm-slide-absolute-left tm-bg-opacity">
                      
                      <div class="tm-slide-style-1">
                        <h3 class="slide-head uk-text-bold uk-animation-slide-left uk-text-center">
                          A Complete Web-System
                        </h3>			
                        <p class="uk-text-left uk-animation-scale-up">
                          Agent Formula is an automated lead & client processing platform. This platform consists of integrated web-based landing pages, MLS IDX search engine, encrypted client management database and complete automated campaign manager ...
                        </p>
                      </div>
                      <div class="uk-margin-top">
                        <a href="/?page_id=23" class="tm-slide-head-button uk-button uk-button-primary tm-full-width tm-uppercase">Click To Learn More</a>
                      </div>
                    </div>
                  </div>	
                </div>
              </div>
            </li>
            <li class="uk-cover uk-height-viewport" aria-hidden="true" style="height: 600px;">
              <div class="uk-cover-background uk-position-cover" style="background-image: url(https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_02.jpg);"></div>
              <img src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_02.jpg" alt="slide-2" width="1920" height="750" class="alignnone size-full" style="width: 100%; height: auto;">
              <div class="uk-overlay-panel uk-overlay-left uk-overlay-slide-left uk-flex uk-flex-center uk-flex-middle uk-width-1-1">
                <div class="uk-container uk-container-center tm-full-width ">
                  <div class="uk-position-relative">
                    <div class="uk-width-small-1-2 uk-width-medium-1-3 tm-slide-absolute-right tm-bg-opacity">
			
                      <div class="tm-slide-style-1">
                        <h3 class="slide-head uk-text-bold uk-text-center">
                          Grow Your Business
                        </h3>
                        <p class="uk-text-left">
                          Agent Formula keeps you infront of your contacts using 
                          sophisticated automated document processing. This control of documents allows you to communicate with each contact individually or as a group.  Full controll of the communication timeline and content is provided within the Web-System.
                        </p>
                      </div>
                      <div class="uk-margin-top">
                        <a href="#our-products" class="tm-slide-head-button uk-button uk-button-primary tm-uppercase tm-full-width">Click To Sign Up Now</a>
                      </div>
			
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="uk-cover uk-height-viewport" aria-hidden="true" style="height: 600px;">
              <div class="uk-cover-background uk-position-cover" style="background-image: url(https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_03.jpg);"></div>
              <img src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_03.jpg" alt="Our Team" width="1920" height="750" class="alignnone size-full wp-image-77" style="width: 100%; height: auto;">
              <div class="uk-overlay-panel uk-overlay-right uk-overlay-slide-right uk-flex uk-flex-center uk-flex-middle uk-width-1-1">
                <div class="uk-container uk-container-center tm-full-width ">
                  <div class="uk-position-relative">
                    <div class="uk-width-small-1-2 uk-width-medium-1-3 tm-slide-absolute-left tm-bg-opacity">
                      
                      <div class="tm-slide-style-1">
                        <h3 class="slide-head uk-text-bold uk-animation-slide-left uk-text-center">
                          Be A Leading Authority
                        </h3>			
                        <p class="uk-text-left uk-animation-scale-up">
                          The Agent Formula tools provide current information to visitors at the click of a button.  The Agent Formula Web-System provides multimedia content of activities within your local area.
                          <!--
                            Become a leading Authority on Greater Las Vegas Area with Agent Formula's 200+ pages of content. You'll be viewed as an expert to the visitors of your website.
                            -->
                          </p>
                        </div>
                        <div class="uk-margin-top">
                          <a href="/?page_id=23" class="tm-slide-head-button uk-button uk-button-primary tm-full-width tm-uppercase">Click To Preview Content</a>
                        </div>
                      </div>
                    </div>	
                  </div>
                </div>
              </li>
              <li class="uk-cover uk-height-viewport" aria-hidden="true" style="height: 600px;">
                <div class="uk-cover-background uk-position-cover" style="background-image: url(https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_02.jpg);"></div>
                <img src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_02.jpg" alt="slide-2" width="1920" height="750" class="alignnone size-full" style="width: 100%; height: auto;">
                <div class="uk-overlay-panel uk-overlay-left uk-overlay-slide-left uk-flex uk-flex-center uk-flex-middle uk-width-1-1">
                  <div class="uk-container uk-container-center tm-full-width ">
                    <div class="uk-position-relative">
                      <div class="uk-width-small-1-2 uk-width-medium-1-3 tm-slide-absolute-right tm-bg-opacity">
			
                        <div class="tm-slide-style-1">
                          <h3 class="slide-head uk-text-bold uk-text-center">
                            Lead Capture
                          </h3>
                          <p class="uk-text-left">
                            The Agent Formula Web-System captures visitor information numerous times while the visitor is accessing customized information on your website.  This information is immediately converted into a lead that is place into an automated drip campaign and future individual communication purposes.
                          </p>
                        </div>
                        <div class="uk-margin-top">
                          <a href="#our-products" class="tm-slide-head-button uk-button uk-button-primary tm-uppercase tm-full-width">Click to Test Drive Now</a>
                        </div>
			
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="uk-cover uk-height-viewport" aria-hidden="true" style="height: 600px;">
                <div class="uk-cover-background uk-position-cover" style="background-image: url(https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_04.jpg);"></div>
                <img class=" size-full wp-image-907 aligncenter" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/slide_image_04.jpg" alt="Health issues" width="1240" height="750" style="width: 100%; height: auto;">
                <div class="uk-overlay-panel uk-overlay-left uk-overlay-slide-left uk-flex uk-flex-center uk-flex-middle uk-width-1-1">
                  <div class="uk-container uk-container-center tm-full-width ">
                    <div class="uk-position-relative">
                      <div class="uk-width-small-1-2 uk-width-medium-1-3 tm-slide-absolute-right tm-bg-opacity">
			
                        <div class="tm-slide-style-1">
                          <h3 class="slide-head uk-text-bold uk-text-center">
                            Fast & Accurate MLS IDX
                          </h3>
                          <p class="uk-text-left">
                            The Agent Formula Web-System interrogates the local MLS system through the IDX protocol. The state of the art Agent Formula Web-System obtains new current data as fast as the Multiple Listing Service (MLS) Internet Data Exchange (IDX) allows. This data is delivered to your contacts from the customized individual requests made through your Web-System.
                          </p>
                        </div>
                        <div class="uk-margin-top">
                          <a href="#our-products" class="tm-slide-head-button uk-button uk-button-primary tm-uppercase tm-full-width">Click To Test Drive Now</a>
                        </div>
			
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
                
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
          </div>
        </div>

      </div>
    
    
    
    
    
  
    </div>
  </div>
</div>
<!-- /Slider -->

<!-- Hexa Boxes -->
<div id='hexa-boxes'>
  <div class="tm-section-box ">

    <div class="uk-container uk-container-center">
      <section class="tm-top-a uk-grid tm-padding-top-none tm-padding-bottom-xlarge" data-uk-grid-match="{target:'> div > .uk-panel > .uk-grid'}" data-uk-grid-margin="">
        <div class="uk-width-1-1">
          <div class="uk-panel CuteFeatures" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true, delay:600}">
            <div class="uk-grid">
              
              <div class="uk-text-center uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-5">
                <div class="uk-panel uk-text-center uk-width-1-1 tm-margin-bottom">
                  <div class="tm-feature-part tm-negativ-margin-top">
                    <div class="hexa">
                      <div class="hex1">
                        <div class="hex2">
                          <a href="<%= agent_page_path('lead-capture') %>"><img width="140" height="160" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/hexa-beaker-140x160.png" alt="Lead Capture Forms & Landing Pages"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="uk-panel-title"><a href="<%= agent_page_path('lead-capture') %>">Lead Capture</a></h5>
                  <p class="tm-wiget-content">Nunc volutpat, nibh ut ultrices auctor, nibh metus mattis lectus, ...</p>
                </div>
              </div>
     
              <div class=" uk-text-center uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-5">
                <div class="uk-panel uk-text-center uk-width-1-1 tm-margin-bottom">
                  <div class="tm-feature-part tm-negativ-margin-top">
                    <div class="hexa">
                      <div class="hex1">
                        <div class="hex2">
                          <a href="<%= agent_page_path(:crm) %>"><img width="140" height="160" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/hexa-microscope-hexa-140x160.png" alt="Client Relationship Management"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="uk-panel-title"><a href="<%= agent_page_path(:crm) %>">Client Management</a></h5>
                  <p class="tm-wiget-content">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin elit. ...</p>
                </div>
              </div>
              
              <div class=" uk-text-center uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-5">
                <div class="uk-panel uk-text-center uk-width-1-1 tm-margin-bottom">
                  <div class="tm-feature-part tm-negativ-margin-top">
                    <div class="hexa">
                      <div class="hex1">
                        <div class="hex2">
                          <a href="<%= agent_page_path('social-media') %>"><img width="140" height="160" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/hexa-social-publishing-140x160.png" alt="Social Media Publishing"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="uk-panel-title"><a href="<%= agent_page_path('social-media') %>">Social Media Publishing</a></h5>
                  <p class="tm-wiget-content">lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis ...</p>
                </div>
              </div>
              
              <div class=" uk-text-center uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-5">
                <div class="uk-panel uk-text-center uk-width-1-1 tm-margin-bottom">
                  <div class="tm-feature-part tm-negativ-margin-top">
                    <div class="hexa">
                      <div class="hex1">
                        <div class="hex2">
                          <a href="<%= agent_page_path('drip-marketing') %>"><img width="140" height="160" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/hexa-eye-dropper-140x160.png" alt="Drip Email Marketing"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="uk-panel-title"><a href="<%= agent_page_path('drip-marketing') %>">Drip Marketing</a></h5>
                  <p class="tm-wiget-content">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin Fusce ...</p>
                </div>
              </div>
              
              <div class=" uk-text-center uk-width-1-1 uk-width-small-1-2 uk-width-medium-1-2 uk-width-large-1-5">
                <div class="uk-panel uk-text-center uk-width-1-1 tm-margin-bottom">
                  <div class="tm-feature-part tm-negativ-margin-top">
                    <div class="hexa">
                      <div class="hex1">
                        <div class="hex2">
                          <a href="<%= agent_page_path(:cms) %>"><img width="140" height="160" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/hexa-code-tag-140x160.png" alt="Content Management System"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="uk-panel-title"><a href="<%= agent_page_path(:cms) %>">Custom Webpages</a></h5>
                  <p class="tm-wiget-content">lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis ...</p>
                </div>
              </div>
                    
            </div>
            <div class="ag-but-cover uk-text-center uk-margin-top">
              <span>
                <a class="ag-but-more uk-button-primary uk-animation-fade-in" href="<%= agent_page_path(:features) %>" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: false, delay:1000}">Learn more</a>
              </span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- /Feature Boxes -->

<!-- Agent Lead -->
<div id='agent-lead'>
  <div class="tm-bg-image-1 " data-uk-parallax="{bg: '-500'}" style="background-size: 2119px 1247px; background-position: 50% -101.525px; background-repeat: no-repeat;">
    <div class="tm-section-box tm-block-bg-custom">
      <div class="uk-container uk-container-center">               
        <section class="tm-top-b uk-grid tm-padding-top-none tm-padding-bottom-none " data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
          <div class="uk-width-1-1">
        
            <div class="uk-panel AccordionFeatures">
              <div class="uk-grid uk-grid-medium uk-flex-bottom">       
              
                <div class="uk-panel uk-block uk-width-medium-2-5 ">
                  <h3 class="uk-panel-title">Premium WebSystem</h3>
                  <p class="tm-widget-title-content">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  </p>
                
                  <div class="uk-accordion tm-accordion-plus" data-uk-accordion="" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: false, delay:500}">                           
                    <h6 class="uk-accordion-title"><div class="hexagon"><span></span></div>Built by Realtors for Realtors</h6> 
                    <div data-wrapper="true" style="height: auto; position: relative;" aria-expanded="true">
                      <p class="uk-accordion-content">
                        Fusce sapien urna, hendrerit at ligula id, viverra sodales erat. Integer lorem tellus, 
                        euismod et purus ut, ornare pharetra felis. Praesent laoreet risus et tincidunt pharetra. 
                        Nullam magna justo, tincidunt vel odio<a href="http://w-m-valeo.torbara.com/?p=127"> ... More</a>
                      </p>
                    </div>
                                                  
                    <h6 class="uk-accordion-title"><div class="hexagon"><span></span></div>Customize to Fit Your Brand</h6>
                    <div data-wrapper="true" style="overflow:hidden;height:0;position:relative;" aria-expanded="false">
                      <p class="uk-accordion-content">
                        Phasellus vel augue mauris. Fusce sapien urna, hendrerit at ligula id, viverra sodales erat. 
                        Integer lorem tellus, euismod et purus ut, ornare pharetra felis. Praesent laoreet risus et 
                        tincidunt pharetra. Nullam magna<a href="http://w-m-valeo.torbara.com/?p=146"> ... More</a>
                      </p>
                    </div>
                                                   
                    <h6 class="uk-accordion-title"><div class="hexagon"><span></span></div>Free Monthly Training Classes</h6>
                    <div data-wrapper="true" style="overflow:hidden;height:0;position:relative;" aria-expanded="false">
                      <p class="uk-accordion-content">
                        Phasellus vel augue mauris. Fusce sapien urna, hendrerit at ligula id, viverra sodales erat. 
                        Integer lorem tellus, euismod et purus ut, ornare pharetra felis. Praesent laoreet risus et 
                        tincidunt pharetra. Nullam magna<a href="http://w-m-valeo.torbara.com/?p=148"> ... More</a>
                      </p>
                    </div>
                       
                  </div>
                </div>
            
                <div class="uk-width-medium-3-5 uk-hidden-small uk-flex-bottom" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: false, delay:1500}">
                  <img src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/confident-realtor.png" class="tm-negativ-margin-top wp-post-image" alt="portret" height="620" width="750">     
                </div>
            
              </div>
            </div>
          </div>
        </section>               
      </div>
    </div>
  </div>
</div>
<!-- /Agent Lead -->

<!-- Sticky Content -->
<div id='sticky-content'>
  <div class="tm-section-box tm-block-bg-muted">
    <div class="uk-container uk-container-center">                  
      <section class="tm-top-e uk-grid  tm-padding-top-xlarge  tm-padding-bottom-xlarge " data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
        <div class="uk-width-1-1">
          <div class="uk-panel DemoWebsites" data-uk-scrollspy="{cls:'uk-animation-scale-up', delay:500}">
            <h3 class="uk-panel-title"><span>Sticky Content</span></h3>
            <div class='uk-grid'>
              <div class='uk-width-1-1'>
                <p class="tm-widget-title-content">The Agent Formula Web-System has designed content to keep your visitors coming back for more ...</p>
              </div>
            </div>   
            <div id="our-products" class="woocommerce tm-woo-slider-products">
              <div class="uk-slidenav-position" data-uk-slider="{infinite: true, autoplay: true}">
                <div class="tm-slide-nav">
                  <a draggable="false" href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
                  <a draggable="false" href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>
                </div>
                <div class="uk-slider-container">
                  <ul class="uk-slider uk-grid uk-grid-medium uk-grid-width-1-1 uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 " data-uk-grid-match="{target:'.uk-panel'}" style="min-width: 11550px; min-height: 307px; transform: translateX(-4331.25px);">
                    <li class="" style="left: 0px; width: 288.75px;">
                      <div class="tm-block-item-cover">
                        <div class="uk-text-center tm-block-item">
                          <a href="http://ljvegashomes.com" title="Village" draggable="false" target="_blank">
                            <h3>Landing Page Video</h3>  
                            <div class="tm-thumbnail-wrapper uk-position-relative">
                                            
                                                                                        
                              <img width="261" height="217" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/demo-page-landing.jpg" class="attachment-shop_catalog wp-post-image" alt="item-23" draggable="false">
                            </div>
                          </a>
                        </div>
                                 
                      </div>
                    </li>
                    <li class="" style="left: 0px; width: 288.75px;">
                      <div class="tm-block-item-cover">
                        <div class="uk-text-center tm-block-item">
                          <a href="http://teamgoldman.info" title="Team Goldman" draggable="false" target="_blank">
                            <h3>Local Employment</h3>  
                            <div class="tm-thumbnail-wrapper uk-position-relative">
                                            
                                                                                        
                              <img width="261" height="217" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/demo-page-search-jobs.jpg" class="attachment-shop_catalog wp-post-image" alt="item-23" draggable="false">
                            </div>
                          </a>
                        </div>
                                 
                      </div>
                    </li>
                    <li class="" style="left: 0px; width: 288.75px;">
                      <div class="tm-block-item-cover">
                        <div class="uk-text-center tm-block-item">
                          <a href="http://w-m-valeo.torbara.com/?product=village" title="Village" draggable="false">
                            <h3>MLS Listing</h3>  
                            <div class="tm-thumbnail-wrapper uk-position-relative">
                                            
                                                                                        
                              <img width="261" height="217" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/demo-page-listing.jpg" class="attachment-shop_catalog wp-post-image" alt="item-23" draggable="false">
                            </div>
                          </a>
                        </div>
                                 
                      </div>
                    </li>
                    <li class="" style="left: 0px; width: 288.75px;">
                      <div class="tm-block-item-cover">
                        <div class="uk-text-center tm-block-item">
                          <a href="http://w-m-valeo.torbara.com/?product=village" title="Village" draggable="false">
                            <h3>Community Details</h3>  
                            <div class="tm-thumbnail-wrapper uk-position-relative">
                                            
                                                                                        
                              <img width="261" height="217" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/demo-page-community.jpg" class="attachment-shop_catalog wp-post-image" alt="item-23" draggable="false">
                            </div>
                          </a>
                        </div>
                                 
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
              
            <div class="ag-but-cover uk-text-center uk-margin-large-top">
              <span>
                <a class="ag-but-more uk-button-primary" href="/?page_id=174" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: false, delay:1000}">Learn More</a>
              </span>
            </div>
        
          </div>
        </div>
      </section>                
    </div>
                 
  </div>
</div>
<!-- /Sticky Content -->

<!-- Pricing -->
<div id='pricing'>
  <div class="tm-bg-image-2" data-uk-parallax="{bg: '-400'}" style="background-size: 2010px 1482px; background-position: 50% -142.08px; background-repeat: no-repeat;">
    <div class="tm-section-box tm-block-bg-darken">
      <div class="uk-container uk-container-center">  
        <section class="tm-top-f uk-grid  tm-padding-top-xlarge tm-padding-bottom-xlarge " data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
          <div class="uk-width-1-1"><div class="uk-panel tm-section-price uk-text-center widget_text uk-scrollspy-init-inview" data-uk-scrollspy="{cls:'uk-animation-fade', delay:100}"><h3 class="uk-panel-title"><span>Pricing</span></h3><div id="insurance-plan" class="uk-width-1-1">
            <p class="tm-widget-title-content">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
          </div>

          <div class="uk-grid tm-price">

            <div class="uk-width-small-1-2 uk-text-center">
              <div class="uk-panel uk-float-right uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-3-5" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false, delay:500}">
		
                <h4>Agent Package</h4>
                <ul>
                  <li>
                    <div class="price">
                      <p>$69
                      </p><h6 class="uk-panel-title">per month</h6>
                    </div>
                  </li>
                  <li>Next Generation Web Presence<br>and Lead Capture</li>
                  <li>Test Drive Us for Only $19.95</li>
                  <li>No Setup Fee's</li>
                  <li>Live Local Support</li>
                  <li>Monthly Training Classes</li>
                  <li><a class="uk-button uk-button-primary uk-button-large uk-width-1-1" href="#" title="Choose plan">Test Drive for $19.95</a></li>
                </ul>
		
              </div>  
            </div>
	  
            <div class="uk-width-small-1-2 uk-text-center">
              <div class="uk-panel uk-float-left uk-width-small-1-1 uk-width-medium-2-3 uk-width-large-3-5" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false, delay:800}">
		
                <h4>Broker Package</h4>
                <ul>
                  <li>
                    <div class="price">
                      <p>Call For Quote
                      </p><h6 class="uk-panel-title">702-990-0480</h6>
                    </div>
                  </li>
                  <li>Take your Brokerage to<br>the next level</li>
                  <li>Broker Web-System</li>
                  <li>Independent Agent Web-Systems</li>
                  <li>Up to 50 Agents</li>
                  <li>Customized For Your Brand</li>
                  <li><a class="uk-button uk-button-primary uk-button-large uk-width-1-1" href="#" title="Choose plan">Get Started Now</a></li>
                </ul>
		
              </div>  
            </div>
          </div></div></div>
        </section> 
      </div>
    </div>
  </div>
</div>
<!-- /Pricing -->

<!-- Testimonials -->
<div id='testimonials'>
  <div class="tm-section-box ">
    <div class="uk-container uk-container-center">
      <section class="tm-bottom-a uk-grid tm-padding-top-xlarge  tm-padding-bottom-xlarge " data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
        <div class="uk-width-1-1">
          <div class="uk-panel TestimonialsFeatures" data-uk-scrollspy="{cls:'uk-animation-fade', delay:600}">
            
            <h3 class="uk-panel-title"><span>Testimonials</span></h3>
            <div class="uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
              
              <div id="people-say" class="uk-width-1-1">
                <p class="tm-widget-title-content">
                  Why So Many Agents Choose Agent Formula Premium Websites...
                </p>
              </div>
              
              <div class="uk-width-1-1 uk-width-medium-1-2 uk-grid-margin">   
                <div class="uk-panel tm-wiget-content">
                  <div class="tm-feedback-part tm-category-post-thumb">
                    <div class="hexa">
                      <div class="hex1">
                        <div class="hex2">
                          <a href="<%= testimonials_path %>" title="Testimonials">
                            <img width="170" height="199" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/testimonial-rosie-harsch.png" class="tm-category-post-thumb wp-post-image" alt="Rosie Harsch">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h4 class="uk-panel-title uk-text-left"><a href="<%= testimonials_path %>">Rosie Harsch</a></h4>
                  <div class="tm-wiget-content uk-text-left">
                    <h6><a href="http://www.finelasvegashomes.com" rel='nofollow' target='_blank'>finelasvegashomes.com</a></h6>
                    I love the videos (as an out of towner) this would be so enticing 
                    and make me anxious to get the house hunting going!! The Agent Formula 
                    website is very attractive and not cluttered. Very easy to locate and 
                    much quicker and easier to access than other real estate websites I 
                    have seen.                     
                  </div>
                </div>
              </div>
              
              <div class="uk-width-1-1 uk-width-medium-1-2 uk-grid-margin"> 
                <div class="uk-panel tm-wiget-content">
                  <div class="tm-feedback-part tm-category-post-thumb">
                    <div class="hexa">
                      <div class="hex1">
                        <div class="hex2">
                          <a href="<%= testimonials_path %>" title="Testimonials">
                            <img width="170" height="199" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/testimonial-michael-starvinski.png" class="tm-category-post-thumb wp-post-image" alt="Michael Stavinski">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h4 class="uk-panel-title uk-text-left"><a href="<%= testimonials_path %>">Michael Stavinski</a></h4>
                  <div class="tm-wiget-content uk-text-left">
                    <h6><a href='http://keys2vegas.com' rel='nofollow' target='_blank'>keys2vegas.com</a></h6>
                    I had a chance to play with the back end on the website, and adjusted a 
                    few things. It is pretty user friendly. Thanks for all of your help and 
                    fast attention to detail.                   
                  </div>
                </div>
              </div>         
            </div>
            
            <div class="ag-but-cover uk-text-center uk-margin-top">
              <span>
                <a class="ag-but-more uk-button-primary" href="<%= testimonials_path %>" data-uk-scrollspy="{cls:'uk-animation-fade', repeat: false, delay:1000}">More Testimonials</a>
              </span>
            </div>
          </div>
        </div>
      </section> 
    </div>
  </div>
</div>
<!-- /Testimonials -->

<!-- CallToAction -->
<div id='get-in-touch'>
  <div class='tm-section-box tm-block-bg-primary'>
    <div class='uk-container uk-container-center'>
      <section class='tm-padding-top-xlarge tm-padding-bottom-xlarge uk-grid'>
        <div class="uk-width-1-1">
          <div class="uk-panel widget_text" data-uk-scrollspy="{cls: 'uk-animation-slide-right', delay:1000}">
            <div class="uk-grid tm-get-touch">
              <div class="uk-width-1-1 uk-width-small-2-3 uk-width-medium-4-5 uk-width-large-4-5">
                <h4>Come Take a Test Drive with Agent Formula</h4>
                <p>
                  Test Drive Includes Fully Functional Website, MLS IDX, CRM, CMS, Lead Capture, Automated Drip Campaigns<br/> 
                  and much more ...
                </p>
              </div>
              <div class="uk-width-1-1 uk-width-small-1-3 uk-width-medium-1-5 uk-width-large-1-5">
                <a class="uk-button" href="/?page_id=27">Click To Test Drive</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CallToAction -->

<!-- Our Clients -->
<div id='our-clients'>
  <div class='tm-section-box'>
    <div class='uk-container uk-container-center'>
      <section class='tm-bottom-a uk-grid tm-padding-top-xlarge tm-padding-bottom-xlarge' data-uk-grid-match="{target: '> div > .uk-panel'}" data-uk-grid-margin>
        <div class='uk-width-1-1'>
          <div class='uk-panel ClientShowcase' data-uk-scrollspy="{cls: 'uk-animation-fade', delay:600}">
            <h3 class='uk-panel-title tm-padding-bottom-large'>
              <span>Our Clients</span>
            </h3>
            <div class="uk-grid" data-uk-grid-margin="">
              <div class="uk-width-1-2 uk-width-medium-1-3 uk-width-large-1-6">
                <figure class="uk-overlay uk-overlay-hover">
                  <img width="350" height="150" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/client-showcase-coldwell-banker.png" alt="Coldwell Banker">
                  <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div>Coldwell Banker</div>
                  </figcaption>
                  <a class="uk-position-cover" href="#"></a>
                </figure>
              </div>

              <div class="uk-width-1-2 uk-width-medium-1-3 uk-width-large-1-6">
                <figure class="uk-overlay uk-overlay-hover">
                  <img width="350" height="150" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/client-showcase-keller-williams.png" alt="Keller Williams">
                  <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div>Keller Williams</div>
                  </figcaption>
                  <a class="uk-position-cover" href="#"></a>
                </figure>
              </div>

              <div class="uk-width-1-2 uk-width-medium-1-3 uk-width-large-1-6">
                <figure class="uk-overlay uk-overlay-hover">
                  <img width="350" height="150" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/client-showcase-remax.png" alt="REMAX">
                  <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div>RE/MAX</div>
                  </figcaption>
                  <a class="uk-position-cover" href="#"></a>
                </figure>
              </div>

              <div class="uk-width-1-2 uk-width-medium-1-3 uk-width-large-1-6">
                <figure class="uk-overlay uk-overlay-hover">
                  <img width="350" height="150" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/client-showcase-century-21.png" alt="Century 21">
                  <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div>Century 21</div>
                  </figcaption>
                  <a class="uk-position-cover" href="#"></a>
                </figure>
              </div>

              <div class="uk-width-1-2 uk-width-medium-1-3 uk-width-large-1-6">
                <figure class="uk-overlay uk-overlay-hover">
                  <img width="350" height="150" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/client-showcase-urban-nest.png" alt="Urban Nest">
                  <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div>Urban Nest</div>
                  </figcaption>
                  <a class="uk-position-cover" href="#"></a>
                </figure>
              </div>

              <div class="uk-width-1-2 uk-width-medium-1-3 uk-width-large-1-6">
                <figure class="uk-overlay uk-overlay-hover">
                  <img width="350" height="150" src="https://s3-us-west-1.amazonaws.com/sales.agentformula.com/client-showcase-realty-one-group.png" alt="Realty ONE Group">
                  <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div>Realty ONE Group</div>
                  </figcaption>
                  <a class="uk-position-cover" href="#"></a>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- /Our Clients -->